#content {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: white;
  color: black;
}

h1 {
  padding: 20px 20px 20px 0px;
  text-align: center;
  background-color:tan;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  background-color: lightgray;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

h3 {
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  margin: 1px;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: black;
  color: white;
  position: fixed;
  width: 750px;
}

/*Buttons at bottom of page*/
.buttonText {
  text-align: center;
}

.hyperlinked-button {
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
}

.buttonBlue {
  background-color: #0e76a8; 
  color:white;
}

.buttonGray {
  background-color: #e8e8e8; 
  color:black;
}

/*Images - Profile and Non-Profile*/
.profile {
  padding: 5px 13px 5px 13px;
  margin: 10px;
  border: 2px outset; 
  float: right;
}

.img-nonprofile {
  float: right;
}

/*Banner across top of page*/
.banner {
  text-align: center;
  padding: 1px 0 1px 0;
  margin: 1px 0 1px 0;
  background-color: black;
  color: white;
}

/*About Section*/
.about {
  margin: 5px;
  padding: 10px;
  width: 60%;
  display: inline-block;
}

/*Left Hand Side Text Section*/
.left-content {
  margin: 5px;
  padding: 10px;
  width: 30%;
  float: left;
}

/*Right Hand Side Text Section*/
.right-content {
  width: 60%;
  margin: 5px;
  padding: 10px;
  float: right;
}

.content-wrap {
  width: 100%;
  margin: 0 auto;
}
