#content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 750px;
  background-color: white;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: #8fcdcf;
  color: black;
}

h1 {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  background-color: lightgray;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.top-navigation-bar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
}

.top-navigation-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.top-navigation-bar a:hover {
  background-color: #ddd;
  color: black;
}

.top-navigation-bar a.active {
  background-color: #27807f;
  color: white;
}

ul {
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 10px;
  margin-left: 1px;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  position: block;
  width: 750px;
}

/*Buttons at bottom of page*/
.buttonText {
  clear: both;
  text-align: center;
}

.hyperlinked-button, .commentButton {
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
}

.buttonBlue {
  background-color: #0E76A8; 
  color: white;
}

.buttonGray {
  background-color: #D3D3D3FF; 
  color: black;
}

.buttonRed {
  background-color: #C74D4D; 
  color: white;
}

.img-nonprofile {
  float: right;
}

.banner {
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 0;
    background-color: #27807F;
    color: white;
    font-style: bold;
    font-size: 16px;
}

/*Formatting for main text in each section*/
.about {
  margin: 5px;
  padding: 10px;
  width: 60%;
  display: inline-block;
}

.education, .feedback {
  margin: 5px;
  padding: 10px;
  width: 96%;
  display: inline-block;
}

.left-content {
  margin: 5px;
  padding: 10px;
  width: 30%;
  float: left;
}

.right-content {
  width: 60%;
  margin: 5px;
  padding: 10px;
  float: right;
}

.center-content {
  width: 100%;
  padding: 10px;
}

.content-wrap {
  width: 100%;
  margin: 0 auto;
}

.img-enlarge:hover{
   color: #414141; 
   opacity: 1;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
}

/*Overlay on flag images*/
.flag {
  position: relative;
  width: 30%;
  max-width: 100px;
  overflow: hidden;
}

.flag .flag-overlay {
  background: #00000099;
  position: absolute;
  height: 99%;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.flag:hover .flag-overlay{
  opacity: 1;
}

.flag-details {
  position: absolute;
  text-align: center;
  padding-left: 1px;
  padding-right: 1px;
  width: 100px;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.flag:hover .flag-details{
  opacity: 1;
  top: 50%;
  left: 50%;
}

.flag-details h3{
  color: white;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}

.fadeIn-bottom{
  top: 80%;
}

/*Extra thick border for Images without Overlay*/
.extra-border-img{
  margin-top:12px;
}

/* Add Comments section */
.add-comment-box, .view-comments-box {
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.add-comment-box {
  background-color: #D3D3D3FF;
}

.view-comments-box {
  background-color: #C1E2E2;
}

.comment-submit-button {
  background-color: #27807F;
  border-radius: 10px;
  color: white;
  padding: 5px;
  margin: 10px;
}

/*Comments Displayed*/
#comment-container{
  align-content: 50px;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: white;
}

#user-comment {
  background-color: #CCC;
  padding: 0px 15px;
  margin: 10px 30px 10px 200px;
  border-radius: 10px;
}

#commentor-name {
  font-size: 12pt;
  padding-top: 5px;
  color: black;
}

#comment-text {
  padding-bottom: 10px;
}

#comment-date {
  color: #27807F;
}

.comment-section {
  margin-bottom: 75px;
  width: 94%;
}

.comments {
  position: center;
  border:10px;
}

.label {
  color: #000000;
  font: bold;
  padding: 5px;
  margin: 2px;
}

/*Education page*/
.uni-of-edinburgh {
  background-color: #E3BABC;
  border-radius: 10px;
  margin: 10px;
}

.queen-elizabeth {
  background-color: #C4B8DB;
  border-radius: 10px;
}

.staindrop {
  background-color: #B5D1EB;
  border-radius: 10px;
}

.school-content {
  margin: 20px;
  padding: 20px;
}

.img-circular, .img-profile {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: solid;
  position: block;
  padding: 10px;
}

.img-circular {
  width: 250px;
  height: 250px;
  margin: 40px;
}

.img-profile {
  width: 200px;
  height: 200px;
  margin: 5px 20px 5px 20px;
}

#regions_div {
  width: 96%;
}

.g-recaptcha-error {
  color: red;
}
